<ion-header translucent>
  <ion-toolbar>
    <ion-title>Authorization</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissAuthorization()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <form>
    <ion-list>
      <ion-item>
        <ion-label color="primary" stacked>Enter login</ion-label>
        <ion-input type="email" placeholder=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" stacked>Enter password</ion-label>
        <ion-input type="password" placeholder=""></ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="full">Authorization</ion-button>
  </form>
</ion-content>
