<ion-card *ngFor="let interest of userInterests" class="card">
  <img src="{{ interest.description }}" />
  <ion-card-header class="card__content">
    <ion-card-subtitle>{{ interest.category }}</ion-card-subtitle>
    <ion-card-title class="title" class="card__content_item">
      {{ interest.title }}

      <ion-fab-button color="danger" (click)="removeInterest(interest._id)" class="btn">
        <ion-icon name="close-outline"></ion-icon>
      </ion-fab-button>
    </ion-card-title>
  </ion-card-header>
</ion-card>
