<ion-header translucent>
  <ion-toolbar>
    <ion-title>Authorization</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissAuthorization()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <form [formGroup]="formAuthorization" #formDirective="ngForm" (ngSubmit)="submitForm(myFformAuthorizationorm, formDirective)">
    <ion-list>
      <ion-item>
        <ion-label color="primary" stacked>Enter login</ion-label>
        <ion-input type="email" formControlName="login"></ion-input>
      </ion-item>
      <app-control-messages [control]="formAuthorization.get('login')"></app-control-messages>
      <ion-item>
        <ion-label color="primary" stacked>Enter password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <app-control-messages [control]="formAuthorization.get('password')"></app-control-messages>
    </ion-list>
    <ion-button expand="full" [disabled]="formAuthorization.invalid" type="submit">
      Authorization
    </ion-button>
  </form>
</ion-content>
